{
    "mode": "DEV",
    "token": "",
    "clientId": "",
    "guildId": "",
    "wordofDayKey": "",
    "kdramaURL": "https://kissasian.lu",
    "factKey": "",
    "mongodbURI": "",
    "mongodbDBName": "BM64",
    "mongodbDBKDrama": "Kdrama",
    "mongodbDBUniqlo": "Uniqlo",
    "mongodbDBMiSaMo": "MiSaMo",
    "uniqloApiUrl": "https://www.uniqlo.com/au/api/commerce/v5/en",
    "discordChannelId": "",
    "maleSaleDiscordId": "",
    "femaleSaleDiscordId": "",
    "spotifyPlaylist": "",
    "spotifyChannel": "",
    "spotifyClientID": "",
    "spotifyClientSecret": "",
    "spotifyRedirectURI": "http://localhost:3000",
    "spotifyRefreshToken": "",
    "spotifyAccessToken": "",
    "spotifyPrivateChannel": "",
    "spotifyPrivatePlaylist": "",
    "mongodbPrivateSpotify": "PrivateSpotify",
    "spotifyPrivateClientID": "",
    "spotifyPrivateClientSecret": "",
    "spotifyPrivateRedirectURI": "http://localhost:3000",
    "spotifyPrivateRefreshToken": "",
    "spotifyPrivateAccessToken": "",
    "tidalPrivateChannel": "",
    "tidalPrivatePlaylist": "",
    "tidalSisterPlaylist": "",
    "mongodbPrivateTidal": "PrivateTidal",
    "tidalAuthClientID": "",
    "tidalAuthClientSecret": "",
    "tidalPrivateClientID": "",
    "tidalPrivateClientSecret": "",
    "tidalPrivateSessionId": "",
    "tidalPrivateRefreshToken": "",
    "tidalCountryCode": "AU",
    "misamoVoiceChannel": "",
    "mongodbDBMiSaMoAutoImport": "MiSaMoAuto",
    "5headTextChannel": "",
    "5headImageChannel": "",
    "5headAPI": "",
    "SA": "https://www.servicesaustralia.gov.au/air-vaccine-code-formats?context=20",
    "settingsDiscordId": "",
    "openWeatherMapKey": "",
    "ppTracking": [
        { "userId": "", "channelId": "", "username": "" }
    ],
    "mongodbDBUniqloMaleCurrent": "",
    "mongodbDBUniqloFemaleCurrent": "",
    "maleCurrentChannelId": "",
    "femaleCurrentChannelId": "",
    "riotApiKey": "",
    "pelicanUrl": "",
    "pelicanApiKey": "",
    "pelicanServerId": "",
    "palworldSteamAppId": 1623730,
    "palworldUpdateAction": "restart",
    "palworldRestartWarnings": [15, 10, 5, 1],
    "palworldCrashDetection": true,
    "palworldCrashCooldownMinutes": 5,
    "palworldNotifyChannel": ""
}
